@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Книжная полка</title>
        <style>
            body
            {
                font-family: Calibri;
                background-color: rgb(254, 241, 234)
            }

            .main
            {
                margin: 10px 40px 0px;
            }

            .tile 
            {
                width: 15%;
                height: 20%;
                border: 1px solid white;
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(0,0,0,0.4);
                text-align: left;
                display: inline-grid;
                margin: 10px;
                padding: 5px 15px;
                background-color: white;
            }

            .tile:hover
            {
                box-shadow: 0 0 5px rgba(0,0,0,0.4);
            }

            #plus
            {
                font-size: 40px;
                text-align: center;
            }
            a
            {
                text-decoration: none;
                color: black;
            }

            .btnEdit
            {
                float: right;
                text-align: right;
                display: inline-block;
            }

            .btnDelete
            {
                float: right;
                text-align: right;
                display: inline-block;
                padding-left: 10px;
            }

            .addAuthor 
            {
                border: 1px solid white;
                border-radius: 5%;
                box-shadow: 0 0 5px rgba(0,0,0,0.4);
                padding: 5%;
            }

            .filter
            {
                border-radius: 15px;
                border: 1px solid white;
                box-shadow: 0 0 5px rgba(0,0,0,0.4);
                background-color: white;
                width: 150px;
                padding: 10px;
            }
            input
            {
                border: 1px solid rgb(128, 128, 128);
                border-radius: 3px;
            }
        </style>

        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

        <script type="text/javascript">

            $(document).on("click", ".btnEdit", function (event) {
                var tile = $(this).parent().parent();
                var bookId = tile.attr('id').replace("book_", "");

                var Title = $('#book_' + bookId + ' h3[name=Title]').text();
                var Authors = $('#book_' + bookId + ' p[name=Authors]').text();
                var PageCount = $('#book_' + bookId + ' p[name=PageCount]').text().replace(" стр.", "");
                var Publisher = $('#book_' + bookId + ' p[name=Publisher]').text();
                var Year = $('#book_' + bookId + ' p[name=Year]').text().replace(" г.", "");

                var authorsArray = Authors.split(', ');
                console.log()

                var form =  '<h3>Редактирование книги</h3>' + 
                            '<form action="/Home/EditBook" method="post">' + 
                                '<input name=Id style="display:none" type="number" value=' + bookId + ' />' + 
                                '<span>Название:</span><br />' +
                                '<input name="Title" type="text" value="' + Title + '"/> <br />' +
                                '<span><b>Авторы:</b></span><br />' +
                                '<div class="addAuthor">'
                for (var i = 0; i < authorsArray.length; i++)
                {
                    var firstName = authorsArray[i].split(' ')[0]
                    var lastName = authorsArray[i].split(' ')[1]
                    form += 'Имя: <br />' +
                                    '<input name="FirstName" type="text" value="' + firstName + '"/> <br />' +
                                    'Фамилия: <br />' +
                                    '<input name="LastName" type="text" value="' + lastName + '"/> <br />' +
                                    '<br />'
                }
                form +=         '<input type="button" value="Добавить" class="btnAddAuthor"/>' +
                                '</div>' +
                                '<br />'

                form +=         'Кол-во страниц: <br />' +
                                '<input name="PageCount" type="number" value="' + PageCount + '"/> <br />' +

                                'Издатель: <br />' +
                                '<input name="Publisher" type="text" value="' + Publisher + '"/> <br />' +

                                'Год издания: <br />' +
                                '<input name="Year" type="number" value="' + Year + '"/>' +
                                '<br />' +
                                '<input type="submit" value="Сохранить"/>' +
                            '</form>';

                $(tile).html(form);
            });

            function restoreTitleState(title, prevState) {
                $(title).html(prevState);
            }

            $(document).on("click", "#plus", function () {
                $("#plus").css("display", "none");
                $("#adder").css("display", "inline-grid");
            });

            $(document).on("click", ".btnAddAuthor", function (event) {
                $(event.target).before('<br/>');
                $(event.target).before('Имя: <br/><input name="FirstName" /><br/>');
                $(event.target).before('Фамилия: <br/><input name="LastName" /><br/>');
            });
        </script>
    </head>

    <body>
        <div class="filter">
            Cортировать по:
            <select>
                <option>Имени</option>
                <option>Году издания</option>
            </select>
        </div>
        <div class="main">
            @if (ViewBag.Books != null)
            {
                foreach (var book in ViewBag.Books)
                {
                    <div class="tile" id="book_@book.Id">
                        <div class="btnsContainer">
                            <span class="btnDelete"><a href="/Home/DeleteBook/@book.Id" title="Удалить">&#10060;</a></span>
                            <span class="btnEdit"><a href="#~" title="Редактировать">&#128397;</a></span>
                        </div>
                        <h3 name="Title">@book.Title</h3>
                        <span>Авторы: </span>
                        <p name="Authors">@book.Authors</p>
                        <p name="PageCount">@book.PageCount стр.</p>
                        <p name="Publisher">@book.Publisher</p>
                        <p name="Year">@book.Year г.</p>
                        <br />
                    </div>
                }
            }

            <div class="tile">
                <div style="display: inline-grid;" id="plus"><b><a href="#~">+</a></b></div>
                <div style="display: none" id="adder">
                    <h3>Добавление книги</h3>
                    <form action="/Home/AddBook" method="post">
                        <span>Название:</span><br />
                        <input name="Title" type="text" /> <br />

                        <span><b>Авторы:</b></span><br />
                        <div class="addAuthor">
                            Имя: <br />
                            <input name="FirstName" type="text" /> <br />
                            Фамилия: <br />
                            <input name="LastName" type="text" /> <br />
                            <br />
                            <input type="button" value="Добавить" class="btnAddAuthor"/>
                        </div>
                        <br />

                        Кол-во страниц: <br />
                        <input name="PageCount" type="number" /> <br />

                        Издатель: <br />
                        <input name="Publisher" type="text" /> <br />

                        Год издания: <br />
                        <input name="Year" type="number" />
                        <br />
                        <input type="submit" />
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>